<div class="d-flex p-5 border" *ngIf="states">
  <h3 class="p-2">State</h3>
  <mat-form-field appearance="fill" class="">
    <mat-label>Select a state</mat-label>
    <mat-select [(value)]="selectedState">
      <mat-option *ngFor="let state of states" [value]="state">
        {{ state.region }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="d-flex p-3">
  <app-statistics
    class="col-md-6 border"
    [stateData]="selectedState"
  ></app-statistics>
  <!-- Removed because of time constraints, see graph.component.ts -->
  <!-- <app-graph class="col-md-6 border" [graphData]="selectedState"></app-graph> -->
</div>
